<!-- 

Brynn DeVaan and Emma Skillen

CS 340

Code Citation:
Date: 8/14/23
Cited from nodejs-starter-app from GitHub osu-cs340-ecampus
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mystyle.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href=/>Home</a>
        <a href="patients.hbs">Patients</a>
        <a href="staff.hbs">Staff</a>
        <a href="insurance.hbs">Insurance</a>
        <a href="codes.hbs">CPT Codes</a>
        <a href="appointment.hbs">Appointments</a>
        <a href="appointment-codes.hbs">Appointment Codes</a>
    </nav>
    <h1>&#9764; Welcome to Private Practice &#9764;</h1>
    <p>
        A private doctor’s office is currently using two different systems to keep 
        track of billing and patient services. Due to its influx of newly admitted 
        patients, the average number of patients this clinic sees has recently 
        doubled from 25 to 50. This office has only 5 providers and is a primary 
        doctor’s office thus there are no procedures or surgeries. With each 
        appointment ranging from 200$ - 500$, the private business makes around 
        3,600,000$ - 9,000,000$ annually.
        <br>
        <br>
        In the past, the receptionists have spent too much time toggling between 
        two systems which takes too much time and is more prone to system transfer 
        errors. Due to the increase in patients and the use of two separate systems, 
        this has resulted in patients being overbilled, underbilled, and made it 
        difficult for the staff working as receptionists to answer billing questions 
        from patients. 
        <br>
        <br>
        This new database will combine both systems to increase functionality and 
        accessibility for both staff and patients. Due to SQL’s capability of 
        holding over 2 million objects, this will also allow the private clinic 
        room to grow if they decide to intake more patients, without sacrificing 
        time or energy for reception staff. Each appointment needs a corresponding 
        CPT code, and having both the appointment details and the CPT code in the 
        same database system will eliminate redundancy, mistakes, and make it easier 
        for insurances to be billed out. Oftentimes, insurance companies require 
        both CPT codes and progress notes from the doctors, and putting those in the 
        same system makes it far easier for employees to get prior authorizations, 
        approvals, and advocate for their patients. 
    </p>
</body>
</html>